body{
    background-image: url("../images/bgtree.jpeg");
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 32px;
    background-position: center;
    background-size: cover;
} 

.logo{

    height:auto;
    background-color: #a7b043;
    color: #494e2a;
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;
    
}

   .logo h2{
    font-size: 2rem;
    }

label{
    color:white;
}

#content{
    
    display:grid;
    margin: 0 auto;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 5px;
    grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    ". section section section aside aside"
    ". section section section aside aside"
    ;
}
header{
grid-area: header;
}
section{
grid-area: section;



}

main{
grid-area: main;
}
aside{
grid-area: aside;
}

.button{
    padding-top: 30px;
    margin-left: auto;
    margin-right:auto;
}

.btnGiphy{
    background-color: #d2cbb5;
    border: 1px solid black;
    border-radius: 10px;

}

#btnUserinput{
    border: 1px solid black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
}

p{
    
    color:#494e2a;
    background-color: #a7b043;
    border-radius: 10px;
    max-width: 250px;
}
img{
    
    width:200px;
    float: left;
    margin-top:5px;
    
    
}

 footer{
   
    color: white;
    font-size: 1rem;
  
} 



@media only screen and (max-width: 1062px){
    #content{
    
        display:grid;
        margin: 0 auto;
        grid-template-columns: repeat(6,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-gap: 5px;
        grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        ". . . aside aside aside"
        ". section section section section ."
        ". section section section section ."
        
        ;
    }
}

@media only screen and (max-width: 850px){

    #content{
    
        display:grid;
        margin: 0 auto;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-gap: 5px;
        grid-template-areas:
        "header header header header"
        "main main main main"
        ". aside aside ."
        ". section section section"
        ". section section section"
        
        ;
    }

}
@media only screen and (max-width:660px){
    #content{
    
        display:grid;
        margin: 0 auto;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-gap: 5px;
        grid-template-areas:
        "header header header"
        "main main main"
        "aside aside aside"
        ". section section"
        ". section section"
        ;

        padding-left: 10px;
    }


}
@media only screen and (max-width:400px){
    #content{
    
        display:grid;
        margin: 0 auto;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-gap: 5px;
        grid-template-areas:
        "header header header"
        "main main main"
        "aside aside aside"
        "section section section"
        "section section section"
        ;

        padding-left: 15px;
       
    }
    section{
        margin-left: 20px;
    }


}
